@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

:root {
  --background: #ffffff;
  --primary: #222222;
  --body: #353535;
  --secondary: #7c7c7c;
}

.dark {
  --background: #242424;
  --primary: #eaeaea;
  --body: #bbbbbb;
  --secondary: #999999;
}

body {
  color: var(--primary);
  background: var(--background);
  @apply font-sans selection:bg-neutral-200 dark:selection:bg-neutral-800;
}

#content {
  transition-property: opacity, filter;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  opacity: 1;
  filter: none;
}

.page-transition #content {
  opacity: 0;
  filter: blur(8px);
}
