@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

:root {
  --background: #ffffff;
  --primary: #222222;
  --secondary: #7c7c7c;
}

.dark {
  --background: #242424;
  --primary: #eaeaea;
  --secondary: #999999;
}

body {
  color: var(--primary);
  background: var(--background);
}
