/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .link {
        @apply text-zinc-400 font-main;
        @apply hover:text-zinc-300 hover:[text-shadow:rgba(212,212,216,0.4)_0_0_3px] transition-[text-shadow];
    }
}

@layer base {
    * {
        scroll-behavior: smooth;
        scroll-padding-top: 1em;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 9px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-zinc-600;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-zinc-800;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-zinc-900;
    }
}
